.form-login {
    margin: 300px;
    padding:10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.v-center {
    margin-top: 50px;
}
